[[extend 'layout.html']]
<div class="sidenav">
    <a href="[[=URL('index')]]">Home</a>
    <a href="[[=URL('trading')]]">Trading</a>
    <a href="[[=URL('planner')]]">Flight Planner</a>
    <a href="[[=URL('distance')]]">Distance Calculator</a>
</div>
<!--Top Welcome Message-->
<div class="main">
    <section class="hero is-link welcome is-small mb-3">
        <div class="hero-body">
            <div class="container">
                <div class="subtitle">Edit Leg of Plan</div>
            </div>
        </div>
    </section>
    <!--Go back to planner page-->
    <a class="button is-dark is-outlined  mb-4" href="[[=URL('planner')]]">
        <span class="icon-text"><i class=" fa fa-fw fa-arrow-left"></i></span>
        <span>Back to Flight Planner</span>
    </a>
    <!--Form-->
    [[=form]]
</div>