[[extend 'layout.html']]
<style>
    [v-cloak] {
        display: none;
    }
</style>
<section>
    <div class="sidenav">
        <a href="[[=URL('index')]]">Home</a>
        <a href="[[=URL('trading')]]">Trading</a>
        <a href="[[=URL('planner')]]">Flight Planner</a>
        <a href="[[=URL('distance')]]">Distance Calculator</a>
    </div>
</section>

<section class="main" id="vue-target" v-cloak>
    <!--Top Welcome Message-->
    <section class="hero is-link welcome is-small mb-3">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Flight Planner <span>&#128221</span>
                </h1>
                <h2 class="subtitle mb-1">Plan your trip by using the city and plane dropdowns below. Make sure each leg
                    of your plan is connected in order to view your trip statistics!
                </h2>
                <div class="mb-0">*Note that class and range limitations have been ignored for demonstration purposes
                </div>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column">
            <!--Select two cities to add to the table-->
            <section class="mt-4">
                <div class="subtitle has-text-weight-bold   ">City A:
                    <div class="select is-size-6">
                        <select v-model="planner_city_a_field">
                            <option v-for="citya in city_list" :value="citya">{{ citya }}</option>
                        </select>
                    </div>
                </div>
                <span class="subtitle has-text-weight-bold">City B:
                    <div class="select mb-4 is-size-6">
                        <select v-model="planner_city_b_field">
                            <option v-for="cityb in city_list" :value="cityb">{{ cityb }}</option>
                        </select>
                    </div>
                </span>
            </section>
            <!--Add leg and clear table buttons-->
            <a class="button is-primary mb-3" v-on:click="add_leg()">Add Leg to Your Trip </a>
            <a class="button is-danger is-light is-outlined mb-3" href="[[=URL('delete_plan_table')]]">Clear Table</a>
        </div>
        <div class="column">
            <!--Plane selection-->
            <section class="mt-4">
                <span class="subtitle has-text-weight-bold mb-6 "> Your Plane:
                    <div class="select mb-4 is-size-6">
                        <select v-model="planner_plane_field" v-on:change="generate_trip_info()">
                            <option v-for="plane in sorted_plane_list" :value="plane">{{ plane }}</option>
                        </select>
                    </div>
                </span>
            </section>

            <!--Trip Stats (if plane and legs added)-->
            <section v-if="(planner_result == '')">

                <div class="subtitle has-text-weight-semibold is-underlined">Your Trip Statistics:</div>

                <div class="subtitle has-text-weight-medium mb-2"> Total Distance:
                    <span class="subtitle has-text-info">{{planner_result_total_distance}}</span>
                </div>
                <div class="subtitle has-text-weight-medium mb-2"> Flight Time:
                    <span class="subtitle has-text-info">{{planner_result_flight_time}}</span>
                </div>
                <div class="subtitle has-text-weight-medium mb-2"> Flight Profit:
                    <span class="subtitle has-text-info">{{planner_result_profit}}</span>
                </div>
                <div class="subtitle has-text-weight-medium mb-2"> Profit per Hour:
                    <span class="subtitle has-text-info">{{planner_result_profitph}}</span>
                </div>
                <div class="subtitle has-text-weight-medium mb-2"> Longest Leg:
                    <span class="subtitle has-text-info">{{planner_result_longest_leg}}</span>
                </div>
            </section>

            <!--Trip Stats (if plane and legs NOT added)-->
            <section v-else>
                <div class="subtitle has-text-weight-semibold is-underlined">Your Trip Statistics:</div>
                <div class="subtitle has-text-danger-dark has-text-weight-semibold"> {{ planner_result }}</div>
            </section>

        </div>
    </div>

    <!--Table-->
    <table class="table is-striped is-fullwidth mt-4">
        <thead>
            <tr>
                <th>Trip Leg</th>
                <th>Distance</th>
                <th></th>
            </tr>
        </thead>
        <tr v-for="row in flight_planner_items" :key="row.id">
            <td>{{ row.city_A }} &#9992 {{ row.city_B }}</td>
            <td>{{ row.distance }} miles</td>
            <!--Edit and delete button for each row-->
            <td>
                <a class="button is-info is-light is-outlined" :href="build_url('companion/edit_plan', row.id)">
                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit Leg</span>
                </a>
                <a class="button is-danger is-light is-outlined" :href="build_url('companion/delete_plan', row.id)">
                    <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                </a>
            </td>

        </tr>
    </table>
</section>




[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="js/index.js"></script>
[[end]]